// Override this file to add your own SCSS styling.

.experience-icon-image {
  width: 80px;
  max-width: unset;
}

.home-prj-img-icon-wrap {
  /*display: grid;
  place-items: center;*/

  .home-project-icon-image {
    /*max-width: 150px !important;*/
    margin-top: 0.5rem;

  }
}

.dark a, .dark h3.article-title a:hover {
  color: #4caf50;
}


.page-papers {
  .card, .card:hover {
    box-shadow: none;
  }

  .author-info {
    font-size: 0.85rem;
  }
  .card-text {
    font-size: 0.75rem;
  }
}


@media (max-width: 640px) {

}
